@media screen and (max-width: 1920px) {
  h1 {
    font-size: 30px;
  }

  /* A checkbox container */
  .checkbox-container {
    padding-right: 25px;
    margin-bottom: 12px;
    font-size: 2.5vh;
  }

  /* A custom checkbox */
  .checkmark {
    height: 19px;
    width: 19px;
  }

  /* The checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
  }
}

@media screen and (max-width: 500px) {

  /* A checkbox container */
  .flex-container {
    width: 90vw;
  }

  span {
    font-size: 2.5vh;
  }

  #length {
    width: 17vw;
  }

  .checkbox-container {
    padding-right: 35px;
    margin-bottom: 12px;
    font-size: 2.5vh;
  }

  /* A custom checkbox */
  .checkmark {
    height: 25px;
    width: 25px;
  }

  /* The checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
  }

  #password {
    width: 90vw;
  }

  #footerContainer {
    width: 90vw;
    font-size: 16px;
  }
}
